# Variables with Multiple Contents

### Objects

In [19]:
class myObject:
    def __init__(self):
        self.color = 'blue'
        self.name = 'Yolanda'
        
    def go(self):
        print('Vroooooooom')

a = myObject()

In [17]:
print("Color: " + a.color)
print("Name: " + a.name)

Color: blue
Name: Yolanda

In [20]:
a.go()

Vroooooooom

### Pandas Dataframes

In [27]:
from pandas import DataFrame as df
import numpy

In [30]:
data = {
    "Temperature": [78, 88, 81],
    "Humidity": [.88, .56, .23]
}

df(data)

   Temperature  Humidity
0           78      0.88
1           88      0.56
2           81      0.23